body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    padding: 40px;
}
h1 {
    color: pink;
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
}

p {
    color: rgb(17, 195, 235);
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    line-height: 1.6;
}

.container {
    background-color: rgb(220, 18, 18);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    max-width: 800px;
    margin: 0 auto;
    margin-top: 110px;
    border: 1px solid #09348c;
}
button {
    display: block;
    margin: 20px auto;
    padding: 12px 25px;
    background-color: black;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #4b0fa5;
    transition: 0.3s;
}    
    h2 {
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
    }
    nav {
    text-align: center;
    margin-bottom: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}
footer {
    text-align: center;
    margin-top: 30px;
    padding: 15px;
    font-size: 14px;
}
@media (max-width: 600px) {
    body {
        padding: 20px;
    }

    .container {
        padding: 20px;
    }

    h1 {
        font-size: 30px;
    }

    p {
        font-size: 17px;
    }

    nav a {
        display: block;
        margin: 10px 0;
    }
}
header {
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
}

header h3 {
    font-size: 28px;
    margin: 0;
}
.skills {
    text-align: center;
    margin-top: 25px;
}

.skills p {
    font-size: 20px;
    font-weight: bold;
}